<div class="col-md-12">
    <div class="row top-buffer">
        <table class="table table-bordered table-striped table-responsive">
            <tbody data-ng-repeat="i in data">
                <tr>
                    <td>
                        <label class="form-control">{{i.Description}}</label>
                    </td>
                    <td>
                        <label class="form-control">{{i.Value}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>